* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: rgba(13, 177, 150, 0.24);
}

.list-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
  border: 1px solid rgba(255, 255, 255, 0.459);
  box-shadow: 1px 1px 11px 11px rgba(255, 255, 255, 0.76);
  padding: 4em;
  background-color: rgba(255, 255, 255, 0.315);
  border-radius: 11px;
}

.list-container h1 {
  font-size: 2rem;
  padding-bottom: 0.4em;
  text-align: center;
}

.list-input input {
  width: 24em;
  height: 2em;
}

.list-input button {
  height: 2.3em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.4em;
  font-size: 0.8rem;
}

.list-input button:hover {
  background-color: rgba(17, 207, 150, 0.466);
}

.button-item-container {
  display: flex;
  padding: 0.4em;
  background-color: rgba(6, 112, 126, 0.116);
  margin: 0.6em;
  position: relative;
  font-size: 1.2rem;
}

.button-container {
  display: flex;
  position: absolute;
  left: 84%;
}

.delete-button {
  color: rgb(189, 0, 0);
}

.edit-button {
  color: green;
}

